{% extends 'home.html' %}

{% block title %}Results{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Resources for Waste Management and Recycling in San Francisco</title>
    <style>
      body {
        color: #735e59;
        font-family: YAEnTI0o408-0;
      }
      h1 {
        font-weight: 700;
        margin-bottom: 20px;
      }
      ul {
        margin-top: 0;
        margin-bottom: 20px;
      }
      li {
        margin-bottom: 10px;
        list-style-type: disc;
      }
      a {
        font-weight: bold;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h1>Resources for Waste Management and Recycling in San Francisco</h1>
    <ul>
      <li><a href="https://sfenvironment.org/zero-waste-in-SF-is-recycling-composting-and-reuse">San Francisco Zero Waste</a> - This is the official website of San Francisco's Zero Waste program, which provides information about waste reduction, recycling, and composting in the city.</li>
      <li><a href="https://sfenvironment.org/recycling-composting-faqs">Recycling and Composting in San Francisco FAQ</a> - On the same website as the link above, this link provides a list of FAQ regarding San Francisco's mandatory recycling and composting ordinance, including how to meet the requirements of the ordinance, getting the service set up for an apartment building, asking for physical help with moving the bins, etc.</li>
      <li><a href="https://www.recology.com/recology-san-francisco/">Recology</a> - Recology is the waste management company that provides waste and recycling services for San Francisco residents.</li>
      <li><a href="https://www.wm.com/us/en/location/ca/san-francisco">Waste Management in San Francisco</a> - Waste Management is a well-known waste management services company that provides such services throughout the US and Canada.</li>
      <li><a href="https://calrecycle.ca.gov/">California Department of Resources Recycling and Recovery (CalRecycle)</a> - The California Department of Resources Recycling and Recovery, or CalRecycle, is a state agency that provides resources and information about recycling and waste reduction throughout California.</li>
      <li><a href="https://www.epa.gov/recycle">United States Environmental Protection Agency (EPA)</a> - The United States Environmental Protection Agency, or EPA, provides a variety of federal resources on waste management and recycling.</li>
      <li><a href="https://earth911.com/">Earth911</a> - Earth911 is a website that provides resources and information on recycling and waste reduction.</li>
    </ul>
  </body>
</html>
{% endblock %}